<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onUpdateProfile()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <img
              src="../../../assets/img/user.png"
              alt="user"
              width="200"
              style="margin: 0 auto;"
            />
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">First name:</ion-label>
            <ion-input
              type="text"
              required
              formControlName="firstName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="userForm.get('firstName').invalid && userForm.get('firstName').touched"
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>First name must contain at least 1 character.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Last name:</ion-label>
            <ion-input
              type="text"
              required
              formControlName="lastName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="userForm.get('lastName').invalid && userForm.get('lastName').touched"
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Last name must contain at least 1 character.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input
              type="text"
              required
              formControlName="email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="userForm.get('email').invalid && userForm.get('email').touched"
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Email must be in a valid format.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Username:</ion-label>
            <ion-input
              type="text"
              required
              formControlName="username"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="userForm.get('username').invalid && userForm.get('username').touched"
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Username must contain at least 1 character.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item [disabled]="true">
            <ion-label>Current balance: {{balance| number:'1.2-2'}} RSD</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="userForm.invalid || !userForm.touched"
          >
            Edit profile
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
