<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{!title ? 'New transaction' : 'Edit transaction'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="transactionForm"
    (ngSubmit)="!title ? onAddTransaction() : onUpdateTransaction()"
  >
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Type:</ion-label>
            <ion-select
              name="type"
              required
              formControlName="type"
              (ionChange)="onTypeChange($event)"
            >
              <ion-select-option
                *ngFor="let type of transactionTypes"
                [value]="type"
                >{{type}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="(transactionForm.get('type').invalid && !transactionForm.get('type').touched) && transactionForm.get('type').dirty"
      >
        <ion-col size-sm="6" offset-sm="3">
          <span>Please choose a transaction type.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Month/Year:</ion-label>
            <ion-datetime
              presentation="month-year"
              (ionChange)="onDateChanged($event)"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="transactionForm.get('monthYear').invalid && transactionForm.get('monthYear').touched"
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Please choose month and year.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label>Transaction items:</ion-label>
            <ion-buttons slot="end">
              <ion-fab-button size="small" (click)="openModal()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="transactionForm.invalid || !transactionForm.touched"
          >
            {{!title ? 'Add' : 'Edit'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
