<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons>
          <ion-button (click)="onCancel()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="transactionForm" (ngSubmit)="onAddItem()">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Purpose:</ion-label>
            <ion-input
              type="text"
              required
              formControlName="purpose"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="
          transactionForm.get('purpose').invalid &&
          transactionForm.get('purpose').touched
        "
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Purpose must contain at least 1 character.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="fixed">Date:</ion-label>
            <ion-input type="date" required [min]="minDate" [max]="maxDate" formControlName="date"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="
          transactionForm.get('date').invalid &&
          transactionForm.get('date').touched
        "
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Please enter a valid date.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Amount:</ion-label>
            <ion-input
              type="number"
              required
              formControlName="amount"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="
          transactionForm.get('amount').invalid &&
          transactionForm.get('amount').touched
        "
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span *ngIf="transactionForm.get('amount').hasError('required')"
            >Amount must contain at least 1 digit.</span
          >
          <span *ngIf="transactionForm.get('amount').hasError('min')"
            >Amount must be greater than 0.</span
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <app-image-input
            [showPreview]="!!transactionForm.get('imageUrl').value"
            [fetchedImage]="transactionForm.get('imageUrl').value"
            [isFetchedImage]="isFetchedImage"
            (imagePick)="onImageImported($event)"
          ></app-image-input>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="
          transactionForm.get('imageUrl').invalid &&
          transactionForm.get('imageUrl').touched
        "
      >
        <ion-col sizeSm="6" offsetSm="3">
          <span>Please import image.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!isPopulated"
          >
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
